---
layout: default
title: About me
---

<h2>I'm creative</h2>
<p>
  I love creating: writing, coding, cooking, and so on. Making things is what I
  do, and is what I've done since I was a kid. I started drawing in the third
  grade. I built with LEGOs since the fourth grade. I started writing in the
  eighth grade, and in the ninth grade, I found Weebly and making websites. I
  wrote throughout high school for its newspaper, the Growler. I even made their
  website.
</p>
<p>
  When I went off to college, I stopped creating, and that sucked. I found a lot
  of interest in college, but nothing felt right. That was because I wasn't
  doing what my soul wanted to do, which is to create.
</p>

<h2>I'm studying philosophy</h2>
<p>
  I discovered philosophy in 2019 after a deep downward spiral in my life. I
  started with lectures by Alan Watts, and I went on to study Taoism and
  Stoicism. I'm inspired by Henry David Thoreau and Ralph Waldo Emerson. What
  I've learned, I've done my best to apply in my life, and it has helped a lot.
  I'm focused now. I have meaning, and I have work to do.
</p>
<p>
  Right now, I prefer philosophy on practical ethics, practical wisdom.
  Questions like "how do I live the best life, the good life?"
</p>

<h2>I prefer being alone</h2>
<p>
  I'm introverted, but high-functioning. I don't tolerate larger crowds. But I
  don't mind medium-sized group interactions, and I enjoy one-on-one
  interactions. Still, I prefer my alone time. There I can do my work and enjoy
  my thoughts. Quiet time is a good time for me.
</p>

<h2>I'm shaping my good life</h2>
<p>
  I'm shaping my life to get as close as possible to the ideal I have in my
  head. The Stoic good life. This is why I am a minimalist: as Thoreau wrote, I
  want to live life to the bone. Live spartan, cut the fat from the bone, and
  feast on the hearty meat of life. I praise simplicity for it frees the energy
  wasted on useless things so that I can apply it to my work.
</p>
<p>What I want from my life is this:</p>
<ul>
  <li>to master my craft</li>
  <li>
    to do the work I was born to do, the work the providence asks of me, and to
    give it to the world
  </li>
  <li>
    a simple job, like Waffle House Manager, that supports my life and work yet
    matches my values
  </li>
  <li>meaningful things like music, art, and people</li>
</ul>
<p>What I'm doing to reach the good life:</p>
<ul>
  <li>studying and practicing philosophy</li>
  <li>quitting my addictions</li>
  <li>reducing drag; cutting what causes friction in my workflow</li>
  <li>beating Resistance</li>
  <li>enjoying what gives meaning to my life</li>
  <li>doing work and shipping it</li>
</ul>

<h2>More about me</h2>
<details>
  <summary>I have a wide taste in music.</summary>
  <p>
    I have favorites in classical, instrumental, rap, R&B, rock, metal, and
    more. A shortlist of my favorite songs include:
  </p>
  <ul>
    <li>Tool - "Lateralus"</li>
    <li>Smetana - "Die Moldau"</li>
    <li>Kanye West - "Amazing"</li>
    <li>Tangerine Dream, et al. - "A Haze of Patriotic Ferver"</li>
    <li>Yeasayer - "Don't Come Close"</li>
    <li>Gnarls Barkley - "Going On"</li>
    <li>Pretty Lights - "Almost Familiar"</li>
    <li>Slipknot - "Surfacing"</li>
    <li>Primer 55 - "All in the Family"</li>
  </ul>
</details>
<details>
  <summary>I learn fast.</summary>
  <p>
    I can get results from bad to competent in a short amount of time, depending
    on what it is that I'm learning. This can be great but also a curse, as I
    can suffer from a bad "taste gap" effect.
  </p>
</details>
<details>
  <summary>I love nature walks.</summary>
  <p>
    I'm a naturalist like Thoreau and Emerson and the Romantic poets. Nature
    revitalizes my soul, and walks are a great way to refresh my mind when work
    gets grueling.
  </p>
</details>
<details>
  <summary>I love to read.</summary>
  <p>
    For a while, I didn't read much. But last year I picked up my Kindle again,
    and haven't put it down since. At this point, I've read over forty books in
    less than a year. I'm on schedule to read closer to 60 or 70 this year. I
    read only eBooks as it is the most accessible and easy for me. I keep a
    small collection of paperbacks I find particularly useful in keeping around.
  </p>
  <p>
    A big thing about reading, though, is applying what I've learned. I have not
    always done this, but I make the effort to identify important bits and adapt
    them into my life if I think they would help. Every book has some lesson the
    author (or their Muse) wants to part to the reader. It's our job as the
    reader to parse it, test it, and assimilate it if it's valuable to us.
  </p>
</details>
<details>
  <summary>I love to cook.</summary>
  <p>
    I know I was a cook in a previous life because I dig it so much. I get the
    same satisfaction from writing a good piece or building a nice website as I
    do making a delicious meal or treat. Cookies, pasta, pizza, ice cream,
    bread. I like it all, though I tend to keep to the home cook recipes.
  </p>
</details>
<details>
  <summary>What are my tools?</summary>
  <p>
    Right now, I run Ubuntu 20.04 on my T460S with an external 24" monitor and
    mouse. I use Firefox and VSCode for web development, and I write using
    Grammarly. I use Notion for notes and productivity, though I'm moving away
    from it for a simpler workflow. I'm trying out Typora and Obsidian for
    notetaking. I use Netlify to host my websites, and I stream music with
    Spotify.
  </p>
  <p>
    I'm moving from a lot of tools right in favor of secure, free, and
    open-source products to make my workflow simpler.
  </p>
</details>
<details>
  <summary>What do I look like?</summary>
  <p>Uh, okay, you asked for it:</p>
  {% include image.html img="headshot-2017.jpg" alt="I'm white, male, wear
  glasses, have brown hair, and a goofy face." cap="I wear glasses, have brown
  hair, and a goofy face." %} {% include image.html img="headshot-2019.png"
  alt="I wear polo t-shirts." cap="I like polo t-shirts, and I have trouble
  taking pictures of myself." %}
</details>
