---
---

@import "fonts";

:root {
  --bg-color: #caf0f8;
  --color: #03045e;
  --accent: #00b4d8;
}

html {
  font-size: 200%;

  @media screen and (max-width: 900px) {
    font-size: 160%;
  }

  @media screen and (max-width: 600px) {
    font-size: 128%;
  }
}

body {
  font-family: "Muli", sans-serif;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem 1.5rem 1.5rem;
  box-sizing: border-box;
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--color);
}

.sr-only {
  display: none;
}

img {
  width: 100%;
}

p,
blockquote,
hr {
  display: block;
  max-width: 720px;
  width: 100%;

  @media screen and (max-width: 900px) {
    max-width: 560px;
  }

  @media screen and (max-width: 600px) {
    max-width: 400px;
  }
}

hr {
  margin: 2rem 0;
  border: 2px solid var(--color);
}

h1 {
  font-size: 1.953rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.563rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 0.2rem;
}

a {
  color: var(--color);
}

a:hover,
a:focus {
  color: var(--accent);
}

ul {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

.no-style {
  list-style: none;
}

li {
  margin: 0.75rem 0;
}

.flex {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    display: block;
  }
}

.flex a {
  display: block;
}

figure {
  width: 100%;
  margin: 2rem 0;
}

small,
figcaption {
  font-size: 81.92%;
}

blockquote {
  font-style: italic;
  margin: 2rem;
}

footer {
  margin-top: 3rem;
}

#feed {
  margin: 3rem 0;
}

summary {
  cursor: pointer;
}

summary:hover,
summary:focus {
  color: var(--accent);
}
